body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --blue: #009fbd;
  --light-blue: #0bbcdf;
  --light-gray: #b9b9b9;
}

.input {
  padding: 1rem 2rem;
  border: 1px solid var(--light-gray);
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 95%;
}

.input-form {
  border-radius: 0.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90vw;
  align-items: flex-start;
}

button,
#generate-link-btn,
#download-resume {
  color: white;
  background: var(--blue);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  transition: background 0.2s, transform 0.2s;
}

button:hover,
#generate-link-btn:hover,
#download-resume:hover {
  transform: scale(1.1);
  background: var(--light-blue);
}

.download-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.resume {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 70vw;
}

.container {
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.left-info {
  padding: 1.4rem;
  width: 40%;
  background-color: var(--light-blue);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  min-height: 63rem;
}

.right-info {
  padding: 1.4rem;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  min-height: 63rem;
}

h1 {
  text-align: center;
}

p {
  margin: 0;
  font-size: 1.2rem;
}

#name {
  font-size: 3rem;
  font-weight: bold;
}

.title {
  font-size: 2rem;
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--blue);
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .input {
    padding: 1rem;
    font-size: 0.8rem;
    width: 50%;
  }

  button,
  #download-resume {
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
  }

  .title {
    font-size: 1rem;
  }

  .left-info,
  .right-info {
    padding: 0.5rem;
    min-height: 25rem;
  }

  #name,
  .main-page-heading {
    font-size: 1.2rem;
  }

  p,
  ul {
    font-size: 0.5rem;
  }
}
